.footer{
    background-color: #000;
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 60px;
    padding: 40px 0; 
    position: sticky;
  }
  .fft a{
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: 20px;
    width: 190px;
  }
  .footer img{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fft{
    display: flex;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  @media screen and ( max-width: 970px) and (min-width:500px){
    .footer{
      width: 100%;
    }
    .fft{
      width: 300px;
      margin: auto;      
    }
  }
  @media screen and ( max-width: 500px) and (min-width:360px){
    .footer{
      width: 100%;
    }
    .fft{
      width: 100px;

      margin: auto;      
    }
  }